<div class="form">
  <form [formGroup]="filterForm">
    <div class="field">
      <h3>Filter: </h3>
    </div>
    <div class="field">
      <mat-form-field [style.width.px]="100">
        <mat-label>Select Movie</mat-label>
        <mat-select formControlName="films" name="films">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let film of films" [value]="film.value">
            {{film.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="field">
      <mat-form-field [style.width.px]="100">
        <mat-label>Select Species</mat-label>
        <mat-select formControlName="species" name="species">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let specie of species" [value]="specie.value">
            {{specie.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div formGroupName = "birthYear">
      <div class="field">
        <h4>After:</h4>
      </div>
      <div class="field">
        <mat-form-field [style.width.px]="70">
          <input matInput placeholder="Year"  type="number" formControlName="afterNumber"  class="small-input-number">
        </mat-form-field>
      </div>
      <div class="field">
        <mat-form-field [style.width.px]="90">
          <mat-select formControlName="beforeDay" name="afterDay">
            <mat-option value="BBY">BBY</mat-option>
            <mat-option value="ABY">ABY</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="field">
        <h4>Before:</h4>
      </div>
      <div class="field">
        <mat-form-field [style.width.px]="70">
          <input matInput placeholder="Year"  type="number" formControlName="beforeNumber" class="small-input-number">
        </mat-form-field>
      </div>
      <div class="field">
        <mat-form-field [style.width.px]="90">
          <mat-select formControlName="beforeDay" name="beforeDay" >
            <mat-option value="BBY">BBY</mat-option>
            <mat-option value="ABY">ABY</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
